<nav class="navbar navbar-light bg-light px-4">
  <div class="d-flex align-items-center">
    <i class="fa-solid fa-film text-primary me-2" style="font-size: 40px;"></i>
    <a class="navbar-brand fw-bold" href="#">Movie Lists</a>
  </div>
  <%= link_to 'New List', new_list_path, class: "btn btn-primary" %>
</nav>

<%= simple_form_for @list, html: { class: 'form-container' } do |f| %>
  <div class="mb-3">
    <%= f.label :name, "List Name", class: 'form-label' %>
    <%= f.input :name, placeholder: 'Enter the list name', input_html: { class: 'form-control' } %>
  </div>

  <div class="mb-3">
    <%= f.submit 'Create List', class: 'btn btn-primary' %>
  </div>
<% end %>
